@font-face {
  font-family: "santana";
  src: url("../font/Santana.otf") format(opentype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minhafonte";
  src: url("../font/Philosopher-Regular.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "minhafonte";
}

body {
  background-color: #dedede;
}
/* header */
header {
  background: white;
  height: 1000px;
}

#img-logo {
  width: 195px;
}

#container-nav {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: 5px 0 5px 0;
}

.txt-logo {
  color: red;
  font-size: 45px;
  font-family: "santana";
}

.menu-barr {
  font-size: 38px;
}

.burger-shower {
  display: none;
}

.burger-shower:checked ~ .burger-menu {
  display: flex;
}

.hamburger {
  display: block;
  width: 3.4em;
  height: 2.4em;
  line-height: 0.1em;
  padding: 0 0.4em 0.4em;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid;
  padding: 50px 100px;
  color: red;
  background-color: white;
}

.burger-menu li img {
  width: 200px;
}

.burger-menu li {
  padding: 0 10px;
}

.carrinho {
  font-size: 45px;
  right: 0;
}

.conteudo-esquerda {
  width: auto;
  display: flex;
}
.conteudo-direita {
  justify-content: right;
  width: 100%;
  display: flex;
}

.conteudo-direita h2 {
  font-size: 50px;
}


/* fim do header */


.bemvindo {
  margin: 85px;
  font-size: 40px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card img{
  width:  300px;
  height: 260px;

}
.item-card-imagem{
  width:  300px;
  height: 300px;
  margin-bottom: 10px;

  
}

.menu-hide{
  display: flex;
  justify-content: center;
}
.favoritos{
  display: flex;
}

.favoritos p{
  font-size: 15px;
  margin: 0 20px;  
  
}

.coracao:hover{
  color: red;
}

.addFav, .addEspiar{
  text-align: center;
  color: #00000059;
}

.addEspiar:hover{
  color: #e8ff1dda;
}

.produto_nome{
  font-weight: bold;

}

.text-center-des{
  text-align: center;
  margin-top: 5px;
}

.text-end-des{
  text-align:center;
  font-size: 25px;
  margin-top: 10px;
}




.card{
  width:  300px;
  height: 382px;
  margin: 0 10px;
  background-color: aliceblue;
  margin: 0 10px 20px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #00000055;
  box-shadow:  0 0 10px #00000055;
}

.bemvindo{
  text-align: center;
}

.modal1 {
  display: none;
  position: fixed;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: gainsboro;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #0000009f;
  box-shadow: 0 0 10px #0000009f;
}

/* fim do main */